@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@200;400;700&display=swap');
@font-face {
    font-family: 'Prestage';
    src:    url('../assets/fonts/Prestage Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Prestage Outline';
    src:    url('../assets/fonts/Prestage Outline.ttf');
    font-weight: normal;
    font-style: normal;
}
