// COLORS
$primary: #C3C3C3;
$primary-dark1: #737373;
$primary-dark2: #202020;
// $bg: #282f40;
$bg: #1b1e23;
$bg2: #23272E;
$active: #F9DD81;


$secondary: #191919;

$teal: #558a86;
$celeste: #A0F0E8;
$maroon: #6F140E;
$gold: #d4af37;

$white: #fff;
$black: #000;

//font
$primary-font: 'Prestage', sans-serif;
$primary-font-outline: 'Prestage Outline', sans-serif;

$secondary-font: 'Spartan', sans-serif